.navbar {
  position: sticky;
  top: 0;
  z-index: var(--ifm-z-index-fixed);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navbar-height);
  box-shadow: none;
  padding: var(--gap-3m) var(--gap-5m);
  background-color: var(--shape-base);
  border-bottom: 1px solid var(--shape-level-2);
  box-sizing: border-box;
  font-family: var(--ifm-font-family-base);

  @media screen and (--media-l) {
    .searchInput {
      display: none;
    }
  }
}

.leftSection {
  display: flex;
  align-items: center;
  gap: var(--gap-6m);
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
  flex-shrink: 0;
}

.logoImage {
  display: flex;
}

.productTabs {
  display: flex;
  align-items: center;
  gap: 2px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.colorModeToggle {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
