.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
  overflow: hidden auto;
  padding: 12px;
  overscroll-behavior: contain;
  position: relative;

  /* Для выравнивания первых сообщений по низу чата */
  & > *:first-child {
    margin-top: auto;
  }
}
