.docusaurus
.vscode
.husky
.s3
.gitignore
.dockerignore
.editorconfig
deploy/*/templates
docker
node_modules/
static
package-lock.json
.prettierignore
.env.development
nginx.conf.template
*.svg

# @todo prettier неправильно форматирует mdx. Например, переносы строк. Mdx чувствителен к переносам строк.
docs
i18n

#  Prettier пытается обработать PNG-файлы как текст и не может определить для них парсер
*.png
