@value timeout: 150ms;

/*
* От наименования классов зависит логика transition.
* см. https://reactcommunity.org/react-transition-group/css-transition
*/

.enter {
  opacity: 0;
  transform: scale(0.95);
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom right;
  transition:
    opacity timeout,
    transform timeout;
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.95);
  transform-origin: bottom right;
  transition:
    opacity timeout,
    transform timeout;
}
