.breadcrumbs {
  font-size: var(--fs-xs);
  line-height: var(--lh-xs);
  color: var(--text-secondary);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--gap-1m);

  .breadcrumbsItem {
    display: flex;
    flex-shrink: 0;
  }

  .breadcrumbsDivider {
    margin: 0 3px;
  }
}
