.shortcut {
  display: flex;
  user-select: none;
  pointer-events: none;
  margin-left: auto;
  column-gap: var(--gap-1m);

  @media screen and (--media-s) {
    display: none;
  }
}

.shortcutKey {
  height: 24px;
  min-width: 24px;
  padding: 0 var(--gap-1m);
  line-height: var(--lh-sm);
  font-size: var(--fs-sm);
  color: var(--icon-color);
  background: var(--bg-shortcut-icon-color);
  border-radius: var(--border-radius-xs);
  display: flex;
  justify-content: center;
  align-items: center;
}
