.wrapper {
  --bg-substrate-color: rgba(0, 0, 0, 0.4);
  --input-border-color: var(--shape-level-4);
  --bg-input-color: var(--shape-level-1);
  --text-input-color: var(--text-main);
  --text-input-placeholder-color: var(--text-disabled);
  --btns-color: var(--text-secondary);
  --bg-suggest-list-color: var(--shape-base);

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-index-search-modal);
}

[data-theme='dark'] {
  .wrapper {
    --bg-substrate-color: rgba(119, 119, 119, 0.5);
    --input-border-color: var(--shape-level-4-48);
    --bg-input-color: var(--shape-level-1-6);
    --text-input-color: var(--text-main-87);
    --text-input-placeholder-color: var(--text-main-87);
    --btns-color: var(--text-secondary-62);
    --bg-suggest-list-color: var(--shape-base);
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
  overflow-y: hidden;
  background-color: var(--bg-substrate-color);
}

.magnifierIcon {
  width: 24px;
  height: 24px;
  color: var(--btns-color);
  pointer-events: none;
}

.loaderIcon {
  width: 24px;
  height: 24px;
  color: var(--btns-color);
  pointer-events: none;
  animation: rotate360 1.2s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  z-index: 5;
  top: var(--navbar-height);
  left: 50%;
  transform: translateX(-50%);
  padding: var(--gap-4m);
  display: flex;
  flex-direction: column;
  gap: var(--gap-2m);
  width: 600px;
  max-height: 600px;
  border-radius: var(--border-radius-xl);
  background-color: var(--shape-base);

  @media screen and (--media-m) {
    max-height: unset;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
    padding: 0;
    gap: 0;
    left: unset;
    top: unset;
    transform: unset;
  }
}

.hideSearchBarButton {
  all: unset;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  display: none;
  cursor: pointer;

  @media screen and (--media-m) {
    display: flex;
  }
}

.inputBlockWrapper {
  display: flex;
  align-items: center;
  column-gap: var(--gap-2m);

  @media screen and (--media-m) {
    padding: var(--gap-2m) var(--gap-4m);
  }
}

.inputBlock {
  flex: 1;
  cursor: text;
  display: flex;
  align-items: center;
  column-gap: var(--gap-1m);
  padding: var(--gap-3m) var(--gap-2m);
  border: 1px solid var(--input-border-color);
  background-color: var(--bg-input-color);
  border-radius: var(--border-radius-md);

  @media screen and (--media-m) {
    margin-right: 0;
  }
}

.input {
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 24px;
  padding: 0;
  margin: 0;
  font: inherit;
  color: var(--text-input-color);
  border: none;
  background: none;

  &::placeholder {
    color: var(--text-input-placeholder-color);
  }

  &:focus-visible {
    outline: none;
  }
}

.clearBtn {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  color: var(--btns-color);
  background: none;
  border: none;
}

.suggesterList {
  margin: 0;
  width: 100%;
  background: var(--bg-suggest-list-color);
  border-radius: var(--border-radius-xs);
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 0 var(--gap-4m) 0 0;
  row-gap: var(--gap-1m);

  & > li {
    padding: var(--gap-2m) var(--gap-3m);
    cursor: pointer;
    border-radius: var(--border-radius-md);
    transition: background-color var(--ifm-transition-fast);
  }

  .highlightedElement {
    background-color: var(--shape-level-1);
  }
}

.notFound,
.error {
  display: flex;
  flex-direction: column;
  font-size: var(--fs-sm);
  line-height: var(--lh-sm);
  color: var(--text-secondary);
  padding: var(--gap-2m) var(--gap-3m) var(--gap-1m);
}

.errorText {
  color: var(--text-red-1);
}
