.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;

  @media screen and (--media-l) {
    flex-flow: row;
    align-items: start;
    gap: var(--gap-4m);
  }

  @media screen and (--media-m) {
    flex-flow: column;
  }

  @media screen and (--media-s) {
    flex-flow: row;
  }

  @media screen and (--media-xs) {
    flex-flow: column;
  }
}

.linksContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-6m);
  line-height: var(--lh-sm);

  @media screen and (--media-m) {
    flex-flow: row;
    align-items: start;
    gap: var(--gap-6m);
  }

  @media screen and (--media-s) {
    flex-flow: column;
    align-items: start;
    gap: var(--gap-2m);
  }
}

.footerRow {
  li {
    height: 24px;
  }

  @media screen and (--media-s) {
    flex-basis: 50%;
  }
}
