.wrapper {
  border-radius: var(--border-radius-xl);
  padding: var(--gap-6m);
  border: 1px solid var(--shape-level-3-16);
  background-color: var(--shape-base);
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-2m);

  &:hover {
    text-decoration: none;
    background-color: var(--shape-level-1);

    .title {
      color: var(--text-blue-1);
    }
  }

  .titleWrapper {
    display: flex;
    column-gap: var(--gap-3m);
    align-items: center;

    @media screen and (--media-xs) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  .title {
    font-size: var(--fs-lf);
    font-weight: var(--fw-m);
    color: var(--text-main);
    line-height: var(--lh-sm);
  }

  .description {
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    color: var(--text-main);
  }
}
