.wrapper {
  padding: var(--gap-1m) 6px;
  gap: var(--gap-2m);
  border-radius: 4px;
  color: var(--text-clear);
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-md);
  line-height: var(--lh-md);

  &.new {
    background-color: var(--shape-green-dark);
  }

  &.deprecated {
    background-color: var(--shape-level-4-48);
  }

  &.beta {
    background-color: var(--shape-blue-dark-1);
  }
}

[data-theme='dark'] {
  .wrapper {
    &.deprecated {
      background-color: var(--shape-level-3-16);
    }
  }
}
