.wrapper {
  padding-top: var(--gap-18m);

  .titleWrapper {
    display: flex;
    column-gap: var(--gap-4m);
    align-items: center;
    margin-bottom: var(--gap-8m);
  }

  .title {
    font-weight: var(--fw-sb);
    font-size: var(--fs-2xl);
    line-height: var(--lh-2xl);
    color: var(--text-main);
  }

  .iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    background-color: var(--text-blue-1-8);
  }

  .icon {
    color: var(--text-main);
  }

  .groupWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-6m);

    @media screen and (--media-m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (--media-xs) {
      grid-template-columns: 1fr;
    }
  }
}

[data-theme='dark'] {
  .wrapper {
    .iconWrapper {
      background-color: var(--shape-level-1-6);
    }
  }
}
