.hero {
  display: flex;
  align-items: center;
  gap: var(--gap-6m);
  max-width: var(--ifm-container-width-xl);
  width: 100%;
  padding: var(--gap-12m) 0;

  @media screen and (--media-m) {
    padding: var(--gap-4m);
    gap: var(--gap-4m);
  }

  @media screen and (--media-s) {
    gap: var(--gap-8m);
    padding: 0;
    flex-direction: column-reverse;
  }

  @media screen and (--media-xs) {
    gap: var(--gap-6m);
    padding: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-6m);
  flex: 1;

  @media screen and (--media-m) {
    gap: var(--gap-6m);
    flex: 0 0 56%;
  }

  @media screen and (--media-s) {
    align-items: center;
  }

  @media screen and (--media-xs) {
    gap: var(--gap-4m);
  }
}

.title {
  margin: 0;
  color: var(--text-main);
  font-size: var(--fs-4xl);
  font-style: normal;
  font-weight: var(--fw-sb);
  line-height: var(--lh-3xl);

  @media screen and (--media-xs) {
    font-size: var(--fs-2xl);
    line-height: var(--lh-2xl);
  }
}

.description {
  margin: 0;
  color: var(--text-main);
  font-size: var(--fs-lf);
  font-style: normal;
  font-weight: var(--fw-r);
  line-height: var(--lh-lg);

  @media screen and (--media-s) {
    text-align: center;
  }

  @media screen and (--media-xs) {
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
  }
}

.button {
  text-decoration: none;
  margin-top: var(--gap-2m);
}

.button:hover {
  text-decoration: none;
}

.imageWrap {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  @media screen and (--media-m) {
    align-self: flex-start;
  }

  @media screen and (--media-s) {
    align-self: center;
  }

  @media screen and (--media-xs) {
    height: 165px;
  }
}

.image {
  height: 236px;
  object-fit: contain;

  @media screen and (--media-m) {
    height: 216px;
  }

  @media screen and (--media-xs) {
    height: 160px;
  }
}
