.wrapper {
  position: relative;
  isolation: isolate;
}

.controls {
  z-index: 1;
  position: absolute;
  top: 16px;
  right: 18px;
  display: flex;

  @media screen and (--media-s) {
    position: static;
    justify-content: flex-end;
    margin-bottom: 8px;
  }
}

.controlsItem {
  &:not(:last-child) {
    margin-right: 4px;
  }
}

.controlItem {
  background-color: var(--shape-level-1);

  @media screen and (--media-s) {
    background-color: transparent;
  }
}

[data-theme='dark'] {
  .controlItem {
    background-color: var(--shape-level-1-6-no-opacity);

    @media screen and (--media-s) {
      background-color: transparent;
    }
  }
}
