.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5m);
  text-align: center;
}

.description {
  color: var(--text-main);
  text-align: center;
  font-size: var(--fs-lf);
  font-style: normal;
  font-weight: var(--fw-r);
  line-height: var(--lh-sm);
  margin: 0;

  @media screen and (--media-xs) {
    text-align: left;
  }
}
