.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2m);
  padding: var(--gap-6m);
  border-radius: var(--gap-4m);
  outline: 1px solid var(--shape-level-3);
  color: var(--text-main);
  text-decoration: none;

  position: relative;

  @media screen and (--media-s) {
    padding: var(--gap-5m);
  }

  @media screen and (--media-xs) {
    padding: var(--gap-4m);
  }
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: var(--gap-2m);
  flex-wrap: wrap-reverse;
  margin: 0;
  color: inherit;
  font-size: var(--fs-lf);
  font-style: normal;
  font-weight: var(--fw-m);
  line-height: var(--lh-sm);
}

.cardDescription {
  margin: 0;
  color: var(--text-main);
  font-size: var(--fs-sm);
  font-style: normal;
  font-weight: var(--fw-r);
  line-height: var(--lh-sm);
}

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  padding: 4px 6px;
  font-size: var(--fs-xs);
  font-weight: var(--fw-r);
  line-height: var(--lh-xs);
  text-transform: lowercase;
}

.new {
  color: var(--text-clear);
  background: var(--shape-green-dark);
}

.deprecated {
  color: var(--text-clear);
  background: var(--shape-level-4);
}

.beta {
  color: var(--text-clear);
  background: var(--shape-blue-dark-1);
}
