.propertiesList {
  margin-top: var(--gap-8m);
}

.propertiesListInner {
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;
  column-gap: var(--gap-15m);
  row-gap: var(--gap-4m);

  p {
    margin-bottom: 0;
  }

  @media screen and (--media-s) {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--gap-2m);
  }
}

.sectionHeader {
  margin-bottom: var(--gap-5m);
  font-weight: var(--fw-sb);
  font-size: var(--fs-xl);
  line-height: var(--lh-xl);
}
