.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2m);

  background: var(--shape-level-1);

  @media screen and (--media-m) {
    padding: var(--gap-4m);
  }
}

.label {
  color: var(--text-secondary);
  font-size: var(--fs-xs);
  line-height: var(--lh-xs);

  padding: var(--gap-1m) var(--gap-4m) 0;

  @media screen and (--media-m) {
    padding: 0;
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1m);

  @media screen and (--media-m) {
    gap: var(--gap-2m);
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: var(--gap-3m) var(--gap-4m) var(--gap-4m);

  @media screen and (--media-m) {
    padding: var(--gap-3m) var(--gap-4m) var(--gap-4m);
    border-radius: 10px;
    background: var(--shape-level-2);
  }
}

.title {
  color: var(--text-main);
  font-size: var(--fs-sm);
  line-height: 22px;
  font-weight: var(--fw-m);
}

.description {
  color: var(--text-secondary);
  font-size: var(--fs-xs);
  line-height: var(--lh-xs);
}

.buttons {
  margin-top: 10px;

  display: flex;
  flex-direction: column;

  gap: var(--gap-2m);

  a {
    flex: 1;
    text-decoration: none;
  }

  @media screen and (--media-m) {
    flex-direction: row;
  }

  @media screen and (--media-xs) {
    flex-direction: column;
  }
}
