.wrapper {
  height: 68px;
}

.textarea {
  padding: 12px 7px;
  background-color: var(--shape-level-1);
  border: 1px solid var(--shape-level-3);
  border-radius: 6px;

  &::placeholder {
    color: var(text-disabled);
  }
}
