.container {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-8m);
  text-align: center;
  color: var(--text-main);
}

.heroImage {
  width: 324px;
  object-fit: contain;
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-6m);
}

.title {
  font-size: var(--fs-4xl, 52px);
  font-weight: var(--fw-sb, 600);
  line-height: var(--lh-3xl, 56px);
  margin: 0;

  @media screen and (--media-xs) {
    font-size: var(--fs-4xl);
  }
}

.description {
  font-size: var(--fs-lf, 20px);
  font-weight: var(--fw-r, 400);
  line-height: var(--lh-lg, 28px);
}

.searchBar {
  width: 100%;
  padding: 0 var(--gap-10m);

  button {
    padding: var(--gap-3m) var(--gap-3m) var(--gap-3m) var(--gap-4m);
    height: 48px;
  }

  @media screen and (--media-xs) {
    padding: 0 var(--gap-5m);
  }
}

@media screen and (--media-xs) {
  .container {
    gap: var(--gap-6m);
  }

  .text {
    gap: var(--gap-4m);
  }

  .title {
    font-size: var(--fs-2xl);
    line-height: var(--lh-2xl);
  }

  .description {
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
  }

  .searchBar {
    padding: 0;
  }

  .heroImage {
    width: 213px;
    padding: 9px 0;
    object-fit: contain;
  }
}
