.wrapper {
  display: flex;
  justify-content: flex-start;

  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--fw-m);
  border-radius: 0;
  padding-left: 16px;

  color: var(--text-secondary);

  &:hover {
    background-color: var(--shape-level-1);
  }
}
