.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-2m);

  @media screen and (--media-xs) {
    grid-template-columns: 1fr;
  }
}

.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;

  padding: var(--gap-3m) var(--gap-4m);

  border-radius: 10px;
  outline: 1px solid var(--shape-level-3);

  text-decoration: none;
  color: var(--text-main);

  &:hover {
    background-color: var(--shape-level-1);
    text-decoration: none;
    color: var(--text-main);
  }
}

.title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-m);
  line-height: 22px;
  color: var(--text-main);
}

.description {
  font-size: var(--fs-xs);
  line-height: var(--lh-xs);
  color: var(--text-secondary);
}
