.constructorNameContainer {
  margin-bottom: 20px;

  & pre {
    margin: 0;
  }
}

.methodNameContainer {
  margin-bottom: 8px;

  & pre {
    margin: 0;
  }
}

.methodName {
  display: inline-flex;
  font-family: var(--code-ff);
  font-weight: 600;
  color: var(--accent);
}

.paramSignatures {
  margin-left: 10px;
  color: var(--secondary);
}
