.layout {
  --max-height: 640px;

  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  bottom: 20px;

  width: 400px;
  height: min(calc(100% - 40px), var(--max-height));

  border: 1px solid var(--shape-level-2);
  box-shadow:
    0px 12px 36px 0px rgba(0, 0, 0, 0.07),
    0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--shape-base);
  border-radius: 12px;
  z-index: var(--z-index-chat-bot);

  transition:
    width 200ms ease,
    height 200ms ease;

  @media screen and (--media-s) {
    right: 16px;
    bottom: 16px;
  }

  /* Опускаем контейнер по z-индексу, если открыта мобильная навигация */
  :global(nav.navbar-sidebar--show) ~ & {
    z-index: unset;
  }
}

@media screen and (min-width: 768px) {
  .layoutWide {
    --max-height: 840px;
    width: 600px;
  }
}

@media screen and (--media-xs) {
  .layout {
    inset: 0;
    border-radius: 0;
  }

  .layout {
    width: 100dvw;
    height: 100dvh;
  }

  body:has(.layout) {
    overflow: hidden !important;
  }
}
