.accordion {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.item {
  overflow: hidden;
}

.trigger {
  all: unset;
  outline: revert;
  box-sizing: border-box !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-4m);
  width: 100%;
  padding: 28px 0;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: color 0.2s ease;

  @media screen and (--media-s) {
    padding: 24px 0;
  }

  @media screen and (--media-xs) {
    padding: 20px 0;
  }

  &:hover {
    color: var(--text-blue-1) !important;
  }
}

.title {
  font-size: var(--fs-lf, 20px);
  font-weight: var(--fw-m, 500);
  font-style: normal;
  line-height: var(--lh-sm, 24px);
}

.icon {
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.itemOpen .icon {
  transform: rotate(180deg);
}

.content {
  display: none;
  margin-top: calc(var(--gap-2m) * -1);
  padding-bottom: var(--gap-6m);
}

.itemOpen .content {
  display: block;
}

.divider {
  display: flex;
  height: 1px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  background: var(--shape-level-3);
}
