.name {
  font-family: var(--ff-prop);
  margin-bottom: var(--gap-1m);
  font-size: var(--fs-md);
  font-weight: 400;
  line-height: var(--lh-md);
  color: var(--text-secondary);
  position: relative;
  padding-left: var(--gap-5m);
  overflow-wrap: anywhere;

  &:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0;
    width: 11px;
    border-top: 2px solid var(--text-secondary);
  }

  &:after {
    content: '';
    position: absolute;
    left: 11px;
    top: 6px;
    height: 8px;
    border-right: 2px solid var(--text-secondary);
  }
}

.body {
  margin-left: var(--gap-1m);
  overflow-wrap: anywhere;
}

[data-theme='dark'] {
  .name {
    color: var(--text-secondary-62);

    &:before {
      border-color: var(--text-secondary-62);
    }

    &:after {
      border-color: var(--text-secondary-62);
    }
  }
}
