.button {
  border-radius: 16px;
  color: var(--text-blue-1) !important;
  text-align: start;
  height: auto;
  padding: 6px 12px;
  font-size: var(--fs-md);
  line-height: 18px;

  &,
  &:hover,
  &:active {
    border: 1px solid var(--shape-blue-dark-1) !important;
  }

  &:hover,
  &:active {
    background-color: var(--shape-blue-light) !important;

    [data-theme='dark'] & {
      background-color: #ffffff06 !important;
    }
  }
}
