@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/assets/fonts/IBMPlexSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/assets/fonts/IBMPlexSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/assets/fonts/IBMPlexSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/static/assets/fonts/IBMPlexSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --shape-base: #ffffff;
  --shape-blue-dark-1: #0041c3;
  --shape-blue-dark-2: #0028a6;
  --shape-blue-dark-3: #001480;
  --shape-blue-light: #f8faff;
  --shape-green-dark: #1ca91e;
  --shape-yellow-dark: #f49004;
  --shape-red-light: #fff8f8;
  --shape-level-1: #f2f2f2;
  --shape-level-2: #e5e5e5;
  --shape-level-3: #d7d7d7;
  --shape-level-3-16: #00000029;
  --shape-level-4: #858585;
  --shape-level-4-48: #0000007a;
  --shape-level-5: #262626;
  --fill-brand: #0059d6;

  --text-main: #262626;
  --text-secondary: #626262;
  --text-inverse: #f2f2f2;
  --text-disabled: #929292;
  --text-blue-1: #0041c3;
  --text-blue-1-8: #0041c314;
  --text-clear: #ffffff;
  --text-red-1: #f5363c;
  --border-radius-xs: 4px;
  --border-radius-md: 6px;
  --border-radius-lg: 10px;
  --border-radius-xl: 16px;

  --ifm-container-width: 1224px;
  --ifm-container-width-xl: 1224px;

  /* Gap */
  --default-gap: 4px;
  --gap-1m: var(--default-gap); /* 4px */
  --gap-2m: calc(var(--default-gap) * 2); /* 8px */
  --gap-3m: calc(var(--default-gap) * 3); /* 12px */
  --gap-4m: calc(var(--default-gap) * 4); /* 16px */
  --gap-5m: calc(var(--default-gap) * 5); /* 20px */
  --gap-6m: calc(var(--default-gap) * 6); /* 24px */
  --gap-7m: calc(var(--default-gap) * 7); /* 28px */
  --gap-8m: calc(var(--default-gap) * 8); /* 32px */
  --gap-9m: calc(var(--default-gap) * 9); /* 36px */
  --gap-10m: calc(var(--default-gap) * 10); /* 40px */
  --gap-12m: calc(var(--default-gap) * 12); /* 48px */
  --gap-14m: calc(var(--default-gap) * 14); /* 56px */
  --gap-15m: calc(var(--default-gap) * 15); /* 60px */
  --gap-16m: calc(var(--default-gap) * 16); /* 64px */
  --gap-18m: calc(var(--default-gap) * 18); /* 72px */
  --gap-19m: calc(var(--default-gap) * 19); /* 76px */
  --gap-20m: calc(var(--default-gap) * 20); /* 80px */
  --gap-21m: calc(var(--default-gap) * 21); /* 84px */
  --gap-22m: calc(var(--default-gap) * 22); /* 88px */
  --gap-23m: calc(var(--default-gap) * 23); /* 92px */
  --gap-24m: calc(var(--default-gap) * 24); /* 96px */

  /* Font */
  --ff-prop: var(--ifm-font-family-monospace);
  --ifm-font-family-base: 'IBM Plex Sans', system-ui, -apple-system, sans-serif;
  --ifm-heading-font-family: 'IBM Plex Sans', system-ui, -apple-system, sans-serif;

  /* Font size */
  --fs-xs: 12px;
  --fs-md: 14px;
  --fs-sm: 16px;
  --fs-lf: 20px;
  --fs-xl: 24px;
  --fs-2xl: 32px;
  --fs-3xl: 40px;
  --fs-4xl: 48px;

  /* Font weight */
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;

  /* Line height */
  --lh-xs: 16px;
  --lh-md: 20px;
  --lh-sm: 24px;
  --lh-lg: 28px;
  --lh-lf: 32px;
  --lh-xl: 36px;
  --lh-2xl: 40px;
  --lh-3xl: 48px;

  /* Primary */
  --ifm-color-primary: #262626;
  --ifm-color-primary-dark: #000000de;
  --ifm-color-primary-darker: #0000009e;
  --ifm-color-primary-darkest: #00000052;
  --ifm-color-primary-light: #626262;
  --ifm-color-primary-lighter: #929292;

  /* Secondary */
  --ifm-color-secondary-dark: #626262;
  --ifm-color-secondary-darker: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-darkest: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-light: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-lighter: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-lightest: var(--ifm-color-secondary-dark);

  /* Success */
  --ifm-color-success: #1ca91e;
  --ifm-color-success-dark: var(--ifm-color-success);
  --ifm-color-success-darker: var(--ifm-color-success);
  --ifm-color-success-darkest: var(--ifm-color-success);
  --ifm-color-success-light: var(--ifm-color-success);
  --ifm-color-success-lighter: var(--ifm-color-success);
  --ifm-color-success-lightest: var(--ifm-color-success);

  /* Warning */
  --ifm-color-warning: #feb919;
  --ifm-color-warning-dark: var(--ifm-color-warning);
  --ifm-color-warning-darker: var(--ifm-color-warning);
  --ifm-color-warning-darkest: var(--ifm-color-warning);
  --ifm-color-warning-light: var(--ifm-color-warning);
  --ifm-color-warning-lighter: var(--ifm-color-warning);
  --ifm-color-warning-lightest: var(--ifm-color-warning);

  /* Danger */
  --ifm-color-danger: #f5363c;
  --ifm-color-danger-dark: var(--ifm-color-danger);
  --ifm-color-danger-darker: var(--ifm-color-danger);
  --ifm-color-danger-darkest: var(--ifm-color-danger);
  --ifm-color-danger-light: var(--ifm-color-danger);
  --ifm-color-danger-lighter: var(--ifm-color-danger);
  --ifm-color-danger-lightest: var(--ifm-color-danger);

  /* LegacyButton */
  --ifm-button-background-color: var(--shape-blue-dark-1);
  --ifm-button-border-color: var(--ifm-button-background-color);
  --ifm-button-color: var(--ifm-font-color-base-inverse);

  /* LegacyButton */
  --ifm-button-background-color: var(--shape-blue-dark-1);
  --ifm-button-border-color: var(--ifm-button-background-color);
  --ifm-button-color: var(--ifm-font-color-base-inverse);

  /* Border */
  --ifm-color-border: #e5e5e5;

  /* Link */
  --ifm-link-color: var(--shape-blue-dark-1);
  --ifm-link-hover-color: var(--shape-blue-dark-3);
  --ifm-footer-link-color: var(--ifm-color-primary-light);

  /* TextLink */
  --text-link-color: #0041c3;
  --text-link-hover: #001480;
  --text-link-active: #0041c3;

  /* Font */
  --ifm-font-color-base: #262626;
  --ifm-font-color-base-inverse: #f2f2f2;
  --ifm-font-color-secondary: #626262;
  --ifm-font-color-disabled: #929292;

  --ifm-background-color: #ffffff;

  /* Sidebar item */
  --ifm-menu-color: var(--ifm-color-primary);
  --ifm-menu-color-active: var(--shape-blue-dark-1);
  --ifm-menu-color-background-active: #f2f2f2;
  --ifm-menu-color-background-hover: #f2f2f2;

  /* Navbar */
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --ifm-navbar-link-color: var(--ifm-font-color-base);
  --ifm-navbar-link-hover-color: var(--shape-blue-dark-);
  --ifm-navbar-link-active-color: var(--shape-blue-dark-1);

  /* Blog title */
  --blog-title-color: var(--text-main);
  --ifm-avatar-intro-margin: 0.75rem;

  --navbar-height: 64px;

  /* z-индексы */
  /* Перекрываем индекс навбара */
  --z-index-chat-bot: calc(var(--ifm-z-index-fixed) + 1);
  /* Перекрываем навбар и чатбота */
  --z-index-search-modal: calc(var(--z-index-chat-bot) + 1);
}

[data-theme='dark'] {
  /* Colors */
  --shape-base: #262626;
  --shape-blue-dark-1: #1c61e1;
  --shape-blue-dark-2: #526cfc;
  --shape-blue-dark-3: #1c61e1;
  --shape-blue-light: #001480;
  --shape-green-dark: #138026;
  --shape-red-light: #b20709;
  --shape-level-1: #333333;
  --shape-level-1-6: #ffffff0f;
  --shape-level-1-6-no-opacity: #333333;
  --shape-level-1-16: #ffffff29;
  /* --shape-level-2: #ffffff1a; */
  --shape-level-2: #3c3c3c;
  --shape-level-2-10: #ffffff1a;
  --shape-level-3: #ffffff29;
  --shape-level-3-16: #ffffff29;
  --shape-level-4-48: #ffffff7a;
  --shape-level-5: #ffffffde;
  --shape-level-5-87: #ffffffde;

  --text-main: #e3e3e3;
  --text-main-87: #ffffffde;
  --text-disabled-32: #ffffff52;
  --text-secondary: #adadad;
  --text-secondary-62: #ffffff9e;
  --text-blue-1: #478ff4;
  --text-red-1: #ff555a;

  /* Primary */
  --ifm-color-primary: #e3e3e3;
  --ifm-color-primary-dark: #ffffffde;
  --ifm-color-primary-darker: #ffffff9e;
  --ifm-color-primary-darkest: #ffffff52;
  --ifm-color-primary-light: #adadad;
  --ifm-color-primary-lighter: #6b6b6b;

  /* Secondary */
  --ifm-color-secondary-dark: #adadad;
  --ifm-color-secondary-darker: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-darkest: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-light: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-lighter: var(--ifm-color-secondary-dark);
  --ifm-color-secondary-lightest: var(--ifm-color-secondary-dark);

  /* Success */
  --ifm-color-success: #33e434;
  --ifm-color-success-dark: var(--ifm-color-success);
  --ifm-color-success-darker: var(--ifm-color-success);
  --ifm-color-success-darkest: var(--ifm-color-success);
  --ifm-color-success-light: var(--ifm-color-success);
  --ifm-color-success-lighter: var(--ifm-color-success);
  --ifm-color-success-lightest: var(--ifm-color-success);

  /* Warning */
  --ifm-color-warning: #ffc641;
  --ifm-color-warning-dark: var(--ifm-color-warning);
  --ifm-color-warning-darker: var(--ifm-color-warning);
  --ifm-color-warning-darkest: var(--ifm-color-warning);
  --ifm-color-warning-light: var(--ifm-color-warning);
  --ifm-color-warning-lighter: var(--ifm-color-warning);
  --ifm-color-warning-lightest: var(--ifm-color-warning);

  /* Danger */
  --ifm-color-danger: #ff555a;
  --ifm-color-danger-dark: var(--ifm-color-danger);
  --ifm-color-danger-darker: var(--ifm-color-danger);
  --ifm-color-danger-darkest: var(--ifm-color-danger);
  --ifm-color-danger-light: var(--ifm-color-danger);
  --ifm-color-danger-lighter: var(--ifm-color-danger);
  --ifm-color-danger-lightest: var(--ifm-color-danger);

  /* Border */
  --ifm-color-border: #c3c3c3;

  /* Link */
  --ifm-link-color: #478ff4;
  --ifm-link-hover-color: #6f87ff;

  /* TextLink */
  --text-link-color: #478ff4;
  --text-link-hover: #6f87ff;
  --text-link-active: #478ff4;

  /* Blog title */
  --blog-title-color: var(--text-main);

  /* Font */
  --ifm-font-color-base: #e3e3e3;
  --ifm-font-color-base-inverse: var(--ifm-color-content-inverse);
  --ifm-font-color-secondary: #adadad;

  /* Background */
  --ifm-background-color: #262626;

  /* Sidebar item */
  --ifm-menu-color: var(--ifm-color-primary);
  --ifm-menu-color-active: #478ff4;
  --ifm-menu-color-background-active: #333333;
  --ifm-menu-color-background-hover: #333333;

  /* Navbar */
  --ifm-navbar-background-color: var(--ifm-background-surface-color);
  --ifm-navbar-link-color: #e3e3e3;
  --ifm-navbar-link-hover-color: #6f87ff;
  --ifm-navbar-link-active-color: #478ff4;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.redocusaurus {
  isolation: isolate;

  /* Скрываем пустой блок в самом верху страницы */
  .scrollbar-container div:first-of-type {
    display: none !important;
  }

  /* Скрываем border у панели с описанием Api */
  .menu-content {
    border-right: unset !important;
  }

  /* Полностью скрывает блок с общей информацией об API (название, версия, контакт и т.п.) ((У нас он часто пустой)) */
  .api-info {
    display: none !important;
  }

  .api-content {
    /* Скрываем пустую обертку */
    & > div:first-of-type {
      display: none;
    }

    /* Скрывает заголовки разделов */
    [id^='tag/']:not([id*='/paths/']):not([id*='operation']) {
      display: none;
    }
  }

  /* Основной селектор для секций endpoint-ов
     Применяется только к верхнеуровневым блокам с id вида tag/.../paths/... или operation */
  [id^='tag/'][id*='/paths/']:not([id^='tag/'] [id^='tag/']),
  [id^='operation/'][id*='/']:not([id^='operation/'] [id^='operation/']) {
    & > div {
      /* Обрабатываем блок с информацией об api */
      & > div:first-of-type {
        padding-left: 0;
        padding-right: 20px;

        /* 80rem - примерное значение breakpoints.medium из Redocusaurus  */
        /* 130rem - значение breakpoints.large из Redocusaurus */
        @media screen and (min-width: 80rem) and (max-width: 130rem) {
          width: 60%;
        }
      }

      /* Обрабатываем блок с response sample */
      & > div:last-of-type {
        padding: 0 20px;

        @media screen and (min-width: 80rem) and (max-width: 130rem) {
          width: 40%;
        }
      }

      /* Необходимо чтобы правая панель в openApi не переносилась под блок с ответом запроса */
      @media screen and (min-width: 80rem) and (max-width: 130rem) {
        flex-direction: row !important;
      }
    }
  }
}

/* Убираем ограничение ширины у колонки, чтобы Redoc растягивался на весь экран */
.container:has(.redocusaurus) {
  max-width: 100%;
  margin: 0;
  padding-right: 0;

  .row {
    width: 100%;
    margin: 0;

    .col {
      max-width: 100% !important;
      padding-left: 0;
    }
  }
}

/* TODO: удалить, когда будет исправлена локализация в нижней навигации */
/* Скрываем навигацию между страницами внизу */
.pagination-nav {
  display: none;
}

html {
  scrollbar-color: var(--shape-level-3) transparent;
  overscroll-behavior: none;

  &[data-theme='dark'] {
    scrollbar-color: var(--shape-level-3-16) transparent;
    background-color: var(--shape-base) !important;

    /* Инвертируем цвет svg-иконок в темной теме */
    main img[src$='.svg'],
    img[src^='data:image/svg+xml;'] {
      filter: invert();
    }
  }
}

.searchModalActive {
  overflow: hidden !important;
}

.theme-back-to-top-button {
  /* Сдвинули из-за кнопки чата с тех. поддержкой */
  bottom: 6.3em !important;
}
