.block {
  display: inline-flex;
  gap: 1rem;
  padding: var(--ifm-tabs-padding-vertical);
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
}

.text {
  color: var(--text-main);
}

[data-theme='dark'] .text {
  color: var(--text-main-87);
}
