.loader {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 18px;
}

.circle1,
.circle2,
.circle3 {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: var(--shape-blue-dark-1);
  animation: chatBotMessageLoader 1s infinite;
}

.circle1 {
  animation-delay: 100ms;
}

.circle2 {
  animation-delay: 300ms;
}

.circle3 {
  animation-delay: 500ms;
}

@keyframes chatBotMessageLoader {
  0%,
  100% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
