.wrapper {
  padding: 8px 12px;
  border-radius: 12px;
  font-size: var(--fs-md);
  line-height: 18px;
  width: fit-content;
}

.userMessage {
  border-bottom-right-radius: 2px;
  background-color: var(--shape-blue-light);
  margin-left: 20px;
  align-self: end;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.aiMessage {
  border-bottom-left-radius: 2px;
  background-color: var(--shape-level-1);
  margin-right: 20px;
  max-width: 100%;
}
