.backgroundLeft,
.backgroundRight {
  height: 100%;
  min-width: 287px;
  background-image: url('../assets/background.svg');
}

.backgroundLeft {
  background-repeat: no-repeat;
  background-position: right center;
}

.backgroundRight {
  transform: scale(-1, 1);
  background-repeat: no-repeat;
  background-position: left center;
}
