.wrapper {
  line-height: 18px;

  /* -------------------------------------- Отступы ------------------------------------- */

  p,
  ul,
  ol {
    margin: 0 0 8px 0;
  }

  li p,
  > *:last-child {
    margin-bottom: 0;
  }

  li + li,
  ul {
    margin-top: 8px;
  }

  /* ----------------------------------- Блоки с кодом ---------------------------------- */

  /* Сброс отступов для обёрнутых в <pre> CodeBlock'ов */
  pre:has(> div) {
    padding: 0;
  }

  pre,
  code {
    font-size: 13px;
  }

  pre,
  code,
  span[class^='codeLineNumber'] {
    background-color: var(--shape-base) !important;
  }

  /* ------------------------------------ Заголовки ------------------------------------- */

  h1 {
    font-size: var(--fs-lf);
    line-height: var(--lh-sm);
  }

  h2 {
    font-size: 18px;
    line-height: 22px;
  }

  h3 {
    font-size: var(--fs-sm);
    line-height: var(--lh-md);
  }

  h4,
  h5,
  h6 {
    font-size: var(--fs-md);
    line-height: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 8px 0;
    font-weight: var(--fw-m);
  }
}
