.button {
  border-radius: 16px;
  color: var(--text-main) !important;
  text-align: start;
  height: auto;
  padding: 6px 12px;
  font-size: var(--fs-md);
  line-height: 18px;
  border: 1px solid var(--shape-level-2);

  &:hover {
    background-color: var(--shape-level-1);
  }

  &.active {
    color: var(--text-blue-1) !important;
    border: 1px solid var(--shape-blue-dark-1);
  }
}
