.title {
  font-size: var(--fs-3xl);
  line-height: var(--lh-3xl);
  color: var(--blog-title-color);
  transition: color 0.2s;

  @media screen and (--media-xs) {
    font-size: var(--fs-2xl);
    line-height: var(--lh-2xl);
  }
  a {
    color: var(--blog-title-color);
    text-decoration: none;

    &:hover {
      color: var(--text-link-hover);
      text-decoration: none;
    }
  }
}
