.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

.textAreaWrapper {
  display: flex;
  box-shadow: 0px 1px 0px 0px var(--shape-level-2) inset;
  position: relative;
}

.textAreaWithButton {
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: end;
  padding: 4px 4px 4px 12px;
}

.toastContainer {
  position: absolute;
  /* размер тоста и отступ 32px + 20px */
  top: -52px;
  left: 0;
  right: 0;
  width: fit-content;
  margin: auto;
}
