.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  a {
    display: inline-block;
    padding: var(--gap-1m) var(--gap-3m);
    color: var(--text-main);
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    background-color: var(--shape-level-1);
    border: none;
    &:hover {
      background-color: var(--shape-level-2);
      text-decoration: none;
    }
  }
}
