.inheritsList {
  display: table;
}

.inherit {
  a& {
    text-decoration: none;
    color: var(--link);

    &:hover,
    &:active,
    &:focus {
      color: var(--link-hover);
    }
  }

  &:not(:last-child) {
    &::after {
      display: inline-block;
      margin-right: 5px;
      content: ',';
    }
  }
}
