.docLink {
  display: inline-flex;
  color: var(--text-disabled);
  overflow-wrap: anywhere;
}

[data-theme='dark'] {
  .docLink {
    color: var(--text-disabled-32);
  }

  a.docLink {
    color: var(--text-link-color);
  }
}

a.docLink {
  text-decoration: none;
  color: var(--text-link-color);

  &:hover {
    color: var(--text-link-hover);
  }

  &:active {
    color: var(--text-link-color);
  }
}
