.card {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: var(--gap-3m) var(--gap-4m);
  border-radius: var(--border-radius-lg);
  text-decoration: none;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--shape-level-1);
    text-decoration: none;
  }
}

.title {
  font-size: var(--fs-sm);
  font-weight: var(--fw-m);
  line-height: 22px;
  color: var(--text-main);
}

.description {
  font-size: var(--fs-xs);
  line-height: var(--lh-xs);
  color: var(--text-secondary);
}
