.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-6m);

  padding: var(--gap-4m) 0;
}

.buttons {
  align-self: center;

  display: flex;
  flex-direction: column;
  gap: var(--gap-2m);
}

.button {
  text-decoration: none !important;
}
