.wrapper {
  position: relative; /* Необходимо для выноса элемента на верхний слой относительно backgroundWrapper */
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-4m);
  max-width: 392px;

  @media screen and (--media-s) {
    row-gap: var(--gap-3m);
  }

  @media screen and (--media-xs) {
    padding: var(--gap-8m) var(--gap-4m);
  }

  .title {
    font-weight: var(--fw-sb);
    font-size: var(--fs-3xl);
    line-height: var(--lh-3xl);
    text-align: center;

    @media screen and (--media-s) {
      font-size: var(--fs-2xl);
      line-height: var(--lh-2xl);
    }
  }

  .description {
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    text-align: center;
  }

  .title,
  .description {
    color: var(--text-clear);
  }
}

[data-theme='dark'] {
  .title,
  .description {
    color: var(--text-main);
  }
}

.searchWrapper {
  display: flex;
  flex: 1;
}

.searchBarWrapper {
  margin-top: var(--gap-4m);

  @media screen and (--media-s) {
    row-gap: var(--gap-3m);
  }
}
