.layout {
  width: 100%;
  padding: 0 var(--gap-10m);

  @media screen and (--media-m) {
    padding: 0 var(--gap-8m);
  }

  @media screen and (--media-s) {
    padding: 0 var(--gap-4m);
  }

  @media screen and (--media-xs) {
    padding: 0;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: var(--gap-8m);
  border-radius: var(--border-radius-xl);
  background-color: var(--shape-blue-dark-1);
  overflow: hidden;
  position: relative;
  padding: var(--gap-14m) 0;

  @media screen and (--media-s) {
    padding: var(--gap-8m) 0;
  }

  .backgroundWrapper {
    position: absolute;
    width: 100%;
    min-width: 1120px;
    height: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (--media-m) {
      min-width: 1010px;
    }

    @media screen and (--media-xs) {
      display: none;
    }
  }
}

[data-theme='dark'] {
  .wrapper {
    background-color: var(--shape-blue-light);
  }
}
