.wrapper {
  flex: 1;

  background: var(--shape-level-1);
  border-radius: var(--gap-6m);

  &:hover {
    box-shadow: none !important;
    background: var(--shape-level-2) !important;
  }
}

.icon {
  margin-bottom: var(--gap-5m);
  flex-shrink: 0;
}

.link {
  flex: 1;
  padding: var(--gap-10m);
  display: flex;
  flex-direction: column;

  color: var(--text-main);

  @media screen and (--media-s) {
    padding: var(--gap-8m);
  }

  @media screen and (--media-xs) {
    padding: var(--gap-6m);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4m);
}

.title {
  font-size: var(--fs-xl);
  line-height: var(--lh-lg);
  font-weight: var(--fw-m);
}

.description {
  font-size: var(--fs-lf);
  line-height: var(--lh-sm);
}
