.link {
  color: var(--ifm-font-color-secondary);
  height: 24px;
  display: flex;
  align-items: center;

  &:hover,
  :focus {
    color: var(--ifm-link-hover-color);
    text-decoration: none;
  }

  &:active {
    color: var(--text-blue-1);
  }
}
